<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ asset('css/bootstrap/bootsrap3_3_7.min.css') }}" rel="stylesheet">


</head>
<body>

<div class="container">
    <h2>Condensed Table</h2>
    <p>The .table-condensed class makes a table more compact by cutting cell padding in half:</p>

</div>
</body>
</html>